In [6]:
import csv
import pandas as pd

In [4]:
c = zip(*csv.reader(open('1.csv', 'r')))
csv.writer(open('1.csv', 'w')).writerows(c)

In [9]:
df = pd.read_csv('1.csv', header=None)
df

      0     1     2     3      4      5
0  0.25  0.25  4.30  4.30  20.55  20.55
1  0.35  0.35  4.60  4.60  20.90  20.90
2  0.25  0.25  4.35  4.35  21.00  21.00
3 -0.35 -0.35  4.70  4.70  21.30  21.30
4  0.30  0.30  4.50  4.50  20.80  20.80

In [10]:
for i in range(6):
  print(df[i].mean())

0.16
0.16
4.49
4.49
20.91
20.91

In [11]:
a = (4.49 - 0.16) / (0.1 * 100)
a

0.433

In [12]:
c = (20.91 - 0.16) / (a * 200)
c

0.23960739030023095