In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('1.csv')
df

    c       l       r
0  14  28.622  19.487
1  13  28.470  19.632
2  12  28.312  19.792
3  11  28.171  19.948
4  10  27.992  20.105
5   9  27.838  20.272
6   8  27.645  20.416
7   7  27.455  20.641
8   6  27.259  20.841
9   5  27.046  21.056

In [7]:
D= df['l'] - df['r']
D

0    9.135
1    8.838
2    8.520
3    8.223
4    7.887
5    7.566
6    7.229
7    6.814
8    6.418
9    5.990
dtype: float64

In [8]:
D2 = D**2
D2

0    83.448225
1    78.110244
2    72.590400
3    67.617729
4    62.204769
5    57.244356
6    52.258441
7    46.430596
8    41.190724
9    35.880100
dtype: float64

In [18]:
a = D2[:5].to_numpy()
b = D2[5:].to_numpy()
a - b

array([26.203869, 25.851803, 26.159804, 26.427005, 26.324669])

In [19]:
_.mean()

26.19342999999999

In [20]:
_/20/5893*10**7

2222.418971661292